/* alapbeállítások */

html {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* alapbeállítások vége */

.main--style {
    display: flex;
    background: hsl(191, 63%, 70%);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.flippedCard {
    transform: rotateY(180deg);
}

.card {
    position: relative;
    height: 10rem;
    width: 7rem;
    margin: .8rem;
    perspective: 500px;
    transition: transform .5s ease-in-out;
    transform-origin: center;
    transform-style: preserve-3d;
}


.card__front, .card__back {
    position: absolute;
    /*top: 0;
    left: 0;*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    background-color: #fff;
    backface-visibility: hidden;
}

.card__front {
    transform: rotateY(180deg);
}