/* alapbeállítások */

html {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* alapbeállítások vége */

.main--style {
    display: flex;
    background: hsl(191, 63%, 70%);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.text__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text__h1 {
    font-size: 2rem;
    padding: 1rem 0;
}

.text__h2 {
    font-size: 1.2rem;
    padding: 1rem 0;
}

.clock__text {
    font-size: 1.2rem;
    padding: 1rem 0;
}